.nav-container {
  display: flex;
  flex-direction: column;

    .nav-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 15px;

      .logo {
      width: 60px;
      height: 30px;
      margin-right: 1rem;
      }
    }
}


