/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  body {
    font-size: 16px;
  }

  .container {
    width: 90%;
    padding: 20px;
  }

  .header {
    font-size: 1.5em;
  }
}

/* Estilos para desktops/notebooks (1280px a 1920px) */
@media screen and (min-width: 1280px) and (max-width: 1920px) {
  body {
    font-size: 18px;
  }

  .container {
    width: 70%;
    padding: 30px;
  }

  .header {
    font-size: 2em;
  }
}
