<div class="dashboard-container">
  <div class="dashboard-content">
    <h2 class="title">Dashboard</h2>
    <div class="welcome-message">
      <h1>Bem-vindo ao Portal de Gestão de Máquinas Virtuais</h1>
      <p>
        Este portal permite monitorar e gerenciar as suas máquinas virtuais de
        forma eficiente e prática.
      </p>
    </div>

    <div class="charts">
      <div class="chart-bar">
        <h2>Status das Máquinas Virtuais</h2>
        <canvas id="barChart"></canvas>
      </div>

      <div class="chart-pie">
        <h2>Uso de Máquinas Virtuais</h2>
        <canvas id="pieChart"></canvas>
      </div>
    </div>

    <div class="actions">
      <button class="btn btn-primary" (click)="cadastrarVms()">Adicionar Máquina Virtual</button>
      <button class="btn btn-primary" (click)="visualizarVms()">Visualizar Máquinas Virtuais</button>
    </div>
  </div>
</div>
