<div class="dashboard-container">
  <div class="nav">
    <div class="navigation">
      <voltar-button></voltar-button>
      <h1>Dashboard</h1>
    </div>
    <button class="btn btn-primary" (click)="visualizarVms()">
      Visualizar Máquinas Virtuais
    </button>
  </div>

  <div class="dashboard-content">
    <div class="welcome-message">
      <h2>Bem-vindo ao Portal de Gestão de Máquinas Virtuais</h2>
      <p>
        Este portal permite monitorar e gerenciar as suas máquinas virtuais de
        forma eficiente e prática.
      </p>
    </div>

    <div class="charts">
      <div class="chart-container">
        <div class="chart-bar">
          <p>Status das Máquinas Virtuais</p>
          <canvas id="barChart"></canvas>
        </div>
      </div>
      <div class="chart-container">
        <div class="chart-pie">
          <p>Uso de Máquinas Virtuais</p>
          <canvas id="pieChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
